.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2060f6;
  width: 100%;
  max-width: 100%;
  height: 56px;

  border-radius: 8px;
  text-transform: none;
  @extend %fm-poppins_w-600_fs-15_lh-100_c-FFFFFF;

  @include on-tablet {
    width: 264px;
  }

  @include hover(transform, scale(1.1));
}
