.header {
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: $background-color;

  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 69.5px;

    @include on-desktop {
      height: calc(100vh - 125px);
      max-height: 800px;
      flex-direction: row;
      align-items: center;
      margin-top: 125px;
    }
  }

  &__content {
    margin-top: 28px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-top: 36px;
      margin-bottom: 147px;
    }

    @include on-desktop {
      margin-top: 0;
      margin-bottom: 0;
      width: 362px;
    }
  }

  &__title {
    @extend %fm-poppins_w-600_fs-52_lh-120_c-FFFFFF;
  }

  &__subtitle {
    @extend %fm-opensans_w-400_fs-18_lh-150_c-FFFFFF;
    margin-top: 32px;
    margin-bottom: 72px;

    @include on-tablet {
      max-width: 362px;
      margin-top: 24px;
      margin-bottom: 56px;
    }

    @include on-desktop {
      margin-top: 32px;
      margin-bottom: 84px;
    }
  }

  &__button{
    @extend %button;
  }
}
